<form [formGroup]="affTypeFormCommissionTypeRegCommission">
  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox
        formControlName="registrationCommissionsCheckbox"
        #registrationCommissions
        (change)="addNewItem()"
        >Per Registration Commissions</mat-checkbox
      >
    </section>

    <!-- NESTED -->
    <div class="" *ngIf="registrationCommissions.checked">
      <div class="nested-div container-div">
        <span class="nested-label">Registration Rate</span
        ><mat-form-field
          class="field nested-field"
          color="primary"
          appearance="outline"
        >
          <mat-label class="label"></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            formControlName="registrationCommissionsValue"
            (change)="addNewItem()"
          /><span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <app-countries-modal 
        [rateType]="rateTypeParent"
        
        ></app-countries-modal>
      </div>
    </div>
    <!-- end of NESTED -->
  </div>
</form>
