<form [formGroup]="rangeForm">
  <div class="nested-div">
    <div class="container-div">
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label">From {{ label1 }} to</mat-label>
        <input
          type="number"
          matInput
          placeholder="{{placeholder1}}"
          formControlName="field1"
          matTooltip="Up to {{maxPleaceholder}}"
          (input)="formFunctionality($event)"
        />
      </mat-form-field>

      <span class="nested-label-top-rows">{{ unit }} = </span>
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label"></mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="field2"
        /><span matTextPrefix>{{ unitSymbol }}&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
  <div class="nested-div">
    <div class="container-div">
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label">From {{ label2 }} to</mat-label>
        <input
          type="number"
          matInput
          placeholder="{{placeholder2}}"
          formControlName="field3"
          matTooltip="Up to {{maxPleaceholder}}"
          (input)="formFunctionality($event)"
        />
      </mat-form-field>
      <span class="nested-label-top-rows">{{ unit }} =</span>
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label"></mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="field4"
        /><span matTextPrefix>{{ unitSymbol }}&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="nested-div">
    <div class="container-div">
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label">From {{ label3 }} to</mat-label>
        <input
          type="number"
          matInput
          placeholder="{{placeholder3}}"
          formControlName="field5"
          matTooltip="Up to {{maxPleaceholder}}"
          (input)="formFunctionality($event)"
        />
      </mat-form-field>
      <span class="nested-label-top-rows">{{ unit }} =</span>
      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label"></mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="field6"
        /><span matTextPrefix>{{ unitSymbol }}&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="nested-div">
    <div class="container-div">
      <span class="nested-label-last-row">From {{ label4 }} and above {{ unit }} =</span>

      <mat-form-field
        class="field nested-field"
        color="primary"
        appearance="outline"
      >
        <mat-label class="label"></mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="field7"
        /><span matTextPrefix>{{ unitSymbol }}&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
</form>
