<form [formGroup]="affTypeFormCommissionTypeCopyTrader">
  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox formControlName="copyTrader" #copyTrader
        >Per Copy Trader Commissions</mat-checkbox
      >
    </section>

    <!-- NESTED -->
    <div class="form-element view-to-the-right" *ngIf="copyTrader.checked">
      <div class="nested-div">
      <app-range-form-v2
        [placeholder1]="placeholderParent1"
        [placeholder2]="placeholderParent2"
        [placeholder3]="placeholderParent3"
        [label1]="labelParent1"
        [label2]="labelParent2"
        [label3]="labelParent3"
        [label4]="labelParent4"
        [unit]="unitParent"
        [unitSymbol]="unitSymbolParent"
      ></app-range-form-v2>
    </div>
    </div>
    <!-- end of NESTED -->
  </div>
</form>
