

body {
  margin: 30px;
}

.menu {
  margin: 30px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  /* padding-left: 50px; */
}

.tabs {
  padding-bottom: 25px;
}

.tab-btn {
  margin-right: 10px;
  border-bottom: 2px solid #dddbdb;
  color: gray !important;
  border-radius: 0px;
}

.tab-btn:hover {
  border-bottom: 2px solid rgb(133, 133, 133);
  color: #000021 !important;
}

