<form [formGroup]="affTypeFormCommissionTypeLeadCommission">
  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox formControlName="leadCommissionsCheckbox" #leadCommissions
        >Per Lead Commissions</mat-checkbox
      >
    </section>

    <!-- NESTED -->
    <div class="" *ngIf="leadCommissions.checked">
      <div class="nested-div container-div">
        <span class="nested-label">Lead Rate</span
        ><mat-form-field
          class="field nested-field"
          color="primary"
          appearance="outline"
        >
          <mat-label class="label"></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            formControlName="leadCommissionsValue"
          /><span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <app-countries-modal [rateType]="rateTypeParent"></app-countries-modal>
      </div>
    </div>
    <!-- end of NESTED -->
  </div>
</form>
