a {
  text-decoration: none;
  color: gray;
  font-size: 17px;
}

a:hover {
  color: #13c636;
  font-weight: 600;
}


li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
  padding: 0px 0px 0px 0px;;
  margin: 0px 0px 0px 0px; 
  /*top right bottom left */


}

.menu-item {
  padding: 1px;
  height: 2.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-item:hover {
  background-color: rgb(250, 250, 250);
  border-radius: 3px;
  color: #13c636;
  font-weight: 600;
}


.divider {
  border-bottom: 1px solid rgb(223, 220, 220);
  width: 100%;
  margin-top: 0px;
}