<!-- Tiered Affiliate Display Options -->
<form [formGroup]="affTypeFormTieredAffDisplayGroup">
  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox 
      formControlName="viewTieredAffCount" 
      (change)="addNewItem()"
        >Allow Affiliates to View Tiered Affiliate Count</mat-checkbox
      >
    </section>
  </div>

  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox
        formControlName="viewTieredAffDetail"
        (change)="addNewItem()"
        matTooltip=" Note: Fields displayed include Affiliate ID, Email, Contact Name, and Web Site URL"
        >Allow Affiliates to View Tiered Affiliate Detail</mat-checkbox
      >
    </section>
  </div>
  <div class="form-element">
    <button
      mat-button
      class="inner-continue-btn"
      (click)="onClickinnerBtnSave()"
    >
      Continue
    </button>
  </div>
</form>
