<!--FIX: 
  get the field data from a service (BE) 
  post the form to BE service 
  design generally - it doesnt look good
  design of matirials: checkbox are yellows and rest is purple
-->

<form [formGroup]="affTypeForm" (ngSubmit)="onSubmit(affTypeForm.value)">
  <!-- Add A New Affiliate Type -->
  <div class="box">
    <div class="first-title">Add A New Affiliate Type</div>
    <div class="form-element">
      <mat-form-field class="field">
        <mat-label>Description</mat-label>
        <input
          type="text"
          name="description"
          matInput
          placeholder=""
          formControlName="description"
        />
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field class="field">
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="" formControlName="notes"></textarea>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field appearance="fill" class="field">
        <mat-label>Tier Calculation Method</mat-label>
        <mat-select formControlName="tierMethod">
          <mat-option
            *ngFor="let tierOption of tierOptions"
            [value]="tierOption.value"
          >
            {{ tierOption.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field appearance="fill" class="field">
        <mat-label>Tiers</mat-label>
        <mat-select
          formControlName="tiers"
          #tiersField
          (selectionChange)="onSelectChange($event)"
        >
          <mat-option *ngFor="let tier of tiers" [value]="tier.value">
            {{ tier.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ul class="form-element" *ngIf="tiersField.value !== '1'">
        <div class="nested-div">
          <li *ngFor="let tier of tiersSubFields; index as i">
            <mat-label>Tier {{ i + 2 }} Rate </mat-label>
            <mat-form-field
              class="field nested-field"
              matTooltip="Ex. Enter 0.20 for 20%"
            >
              <mat-label></mat-label>
              <input
                type="number"
                matInput
                placeholder=""
                max="1"
                formControlName="tier{{ i + 2 }}Rate"
              />
            </mat-form-field>
          </li>
        </div>
      </ul>
      <!-- end of NESTED -->
    </div>

    <div class="form-element">
      <mat-form-field class="field">
        <mat-label>Default Cookie Expiration</mat-label>
        <input
          formControlName="cookieExpiration"
          type="number"
          matInput
          placeholder=""
        />
      </mat-form-field>
    </div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="hideTrackingLinks"
          >Hide Tracking Links</mat-checkbox
        >
      </section>
    </div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="hideCreatives"
          >Hide Creatives</mat-checkbox
        >
      </section>
    </div>
  </div>

  <!-- Categories -->
  <!-- FIX: add search option -->
  <div class="box">
    <div class="box-title">Categories</div>
    <div class="form-element">
      <mat-form-field
        class="field"
        appearance="fill"
        matTooltip="Select at least one category"
      >
      <!-- fix: when focus on "search" input: bug when clicking ctrl a is selects all -->
        <mat-label>Categories</mat-label>
        <mat-select multiple formControlName="categories" #select>
          <mat-form-field class="search-field">
            <mat-label>Search</mat-label>
            <input
              formControlName="searchCategories"
              #searchCategories
              type="text"
              matInput
              placeholder=""
              (keyup)="getSearchValue(searchCategories.value)"
              [(ngModel)]="searchCat"
            />
          </mat-form-field>

          <mat-checkbox
            class="select-all-cb"
            [(ngModel)]="allSelected"
            [ngModelOptions]="{ standalone: true }"
            (change)="toggleAllSelection()"
            >Select All</mat-checkbox
          >
          <mat-option
            (click)="optionClick()"
            *ngFor="let category of categoryList | filter:searchCat"
            [value]="category"
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Commission Types/Minimum Payout Amount -->
  <div class="box">
    <div class="box-title">Commission Types/Minimum Payout Amount</div>
<!-- copy trader option can be removed?-->
    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="copyTrader" #copyTrader
          >Per Copy Trader Commissions</mat-checkbox
        >
      </section>

      <!-- NESTED -->
      <div class="form-element" *ngIf="copyTrader.checked">
        <div class="nested-div">
          From 1 to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader1"
              matTooltip="Up to 999"
              [(ngModel)]="firstCTvalue"
            />
          </mat-form-field>
          CTs = $
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader1B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ firstCTvalue }} to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader2"
              matTooltip="Up to 999"
              [(ngModel)]="secondCTvalue"
            />
          </mat-form-field>
          CTs = $
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader2B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ secondCTvalue }} to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader3"
              matTooltip="Up to 999"
              [(ngModel)]="thirdCTvalue"
            />
          </mat-form-field>
          CTs = $
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader3B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ thirdCTvalue }} and above CTs = $
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="copyTrader4"
            />
          </mat-form-field>
        </div>
      </div>
      <!-- end of NESTED -->
    </div>

    <div class="row">
      <div class="form-element">
        <section class="checkbox field">
          <mat-checkbox formControlName="depositCommission" #depositCommission
            >Per Deposit Commissions</mat-checkbox
          >
        </section>
      </div>

      <div class="form-element">
        <mat-form-field appearance="fill" class="field">
          <mat-label></mat-label>
          <mat-select formControlName="commissionDropDown" #commissionDropDown>
            <mat-option
              *ngFor="let commission of commissions"
              [value]="commission.value"
            >
              {{ commission.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-element">
        <section class="checkbox field">
          <mat-checkbox formControlName="openPositionReq"
            >Open Position Required</mat-checkbox
          >
        </section>
      </div>
    </div>

    <!-- NESTED -->
    <div
      class="form-element"
      *ngIf="depositCommission.checked && commissionDropDown.value === 'CPA'"
    >
      <div class="nested-div">
        From 1 to
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPA1"
            matTooltip="Up to 999"
          />
        </mat-form-field>
        CTs = $
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            formControlName="depositCommissionCPA1B"
          />
        </mat-form-field>
      </div>

      <div class="nested-div">
        From XX to
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPA2"
            matTooltip="Up to 999"
          />
        </mat-form-field>
        CTs = $
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            formControlName="depositCommissionCPA2B"
          />
        </mat-form-field>
      </div>

      <div class="nested-div">
        From YY to
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPA3"
            matTooltip="Up to 999"
          />
        </mat-form-field>
        CTs = $
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            formControlName="depositCommissionCPA3B"
          />
        </mat-form-field>
      </div>

      <div class="nested-div">
        From ZZ and above CTs =
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPA4"
          />
        </mat-form-field>
      </div>
    </div>
    <!-- end of NESTED -->

    <!-- NESTED -->
    <div
      class="form-element"
      *ngIf="depositCommission.checked && commissionDropDown.value === 'CPAD'"
    >
      <div class="nested-div">
        From 1 and above FTDs = $
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPAD1"
          />
        </mat-form-field>
      </div>

      <div class="nested-div">
        Percent of deposit:
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            formControlName="depositCommissionCPAD2"
            matTooltip="1 for 100%, 0.2 for 20%"
          />
        </mat-form-field>
      </div>

      <div class="box-title">CPA/CPAD Minimum Commissions</div>
      <div class="nested-div">
        Minimum Commission per Trade $
        <!--FIX: in the original form this is disabled ???-->
        <mat-form-field class="field nested-field">
          <mat-label></mat-label>
          <input
            type="number"
            matInput
            placeholder=""
            max="999"
            formControlName="depositCommissionCPAD3"
          />
        </mat-form-field>
      </div>

      <div class="box-title">CPA/CPAD Per Country Extra Plans</div>
      <div class="inner-text">
        Add CPA/CPAD Per Country Extra Plan (Up to 4 Extra Plans Can be Added)
      </div>

      <!-- Button -->
      <div class="inner-btn">
        <button #extraPlanBtn [disabled]="clickedNewExtraPlanBtn === blockToPushwhenClicked.length" mat-button class="add-btn" (click)="onClickExtraPlanBtn()">
          Add New Extra Plan
        </button>
      </div>

      <!-- when clicked on inner btn -->
      <!-- FIX:
            1. add loop to add up to 4 divs
            2. title of left-side should be dynamic (first, second, etc)
            3. after 4 divs disable the button
          -->
      <div class="form-element" *ngFor="let extraPlanOption of extraPlanOptions">
        <div class="nested-div split-view">
          <div class="left-side">Select {{extraPlanOption.blockNumber}} Extra Plan Countries</div>
          <div class="right-side">

            <div class="">
              From 1 to
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries1"
                  matTooltip="Up to 999"
                  [(ngModel)]="firstEPCvalue"
                />
              </mat-form-field>
              CTs = $
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries1B"
                />
              </mat-form-field>
            </div>


            <div class="">
              From {{ firstEPCvalue }} to
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries2"
                  matTooltip="Up to 999"
                  [(ngModel)]="secondEPCvalue"
                />
              </mat-form-field>
              CTs = $
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries2B"
                />
              </mat-form-field>
            </div>
    
            <div class="">
              From {{ secondEPCvalue }} to
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries3"
                  matTooltip="Up to 999"
                  [(ngModel)]="thirdEPCvalue"
                />
              </mat-form-field>
              CTs = $
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  formControlName="extraPlanCountries3B"
                />
              </mat-form-field>
            </div>
    
            <div class="">
              From {{ thirdEPCvalue }} and above CTs = $
              <mat-form-field class="field nested-field">
                <mat-label></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  max="999"
                  formControlName="extraPlanCountries4"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- end of NESTED -->
    </div>
    <!-- end of NESTED -->

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="saleCommission" #saleCommission
          >Per Sale Commissions</mat-checkbox
        >
      </section>

      <!-- NESTED -->
      <div class="form-element" *ngIf="saleCommission.checked">
        <div class="nested-div">
          From 1 to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission1"
              matTooltip="Up to 999"
              [(ngModel)]="firstSCvalue"
            />
          </mat-form-field>
          FTDs = %
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission1B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ firstSCvalue }} to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission2"
              matTooltip="Up to 999"
              [(ngModel)]="secondSCvalue"
            />
          </mat-form-field>
          FTDs = %
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission2B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ secondSCvalue }} to
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission3"
              matTooltip="Up to 999"
              [(ngModel)]="thirdSCvalue"
            />
          </mat-form-field>
          FTDs = %
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission3B"
            />
          </mat-form-field>
        </div>

        <div class="nested-div">
          From {{ thirdSCvalue }} and above FTDs = %
          <mat-form-field class="field nested-field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="saleCommission4"
            />
          </mat-form-field>
        </div>
      </div>
      <!-- end of NESTED -->
    </div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="leadCommissions" #leadCommissions
          >Per Lead Commissions</mat-checkbox
        >
      </section>

      <!-- NESTED -->
      <div class="form-element" *ngIf="leadCommissions.checked">
        <div class="nested-div row">
          Lead Rate
          <mat-form-field class="field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="leadCommissions1"
            />
          </mat-form-field>
          <section class="checkbox field">
            <mat-checkbox formControlName="leadCommissions2" #leadCommissions2
              >Set Lead Rate per Country</mat-checkbox
            >
          </section>
        </div>
        <!-- FIX: add another condition here with checkboxs and input fields based on array of countries -->

        <!-- NESTED -->
        <div class="form-element" *ngIf="leadCommissions2.checked">
          <div class="nested-div">
            This should be fixed
            <mat-form-field class="field nested-field">
              <mat-label></mat-label>
              <input
                type="number"
                matInput
                placeholder=""
                formControlName="depositCommissionCPAD1"
              />
            </mat-form-field>
          </div>
        </div>
        <!-- end of NESTED -->
      </div>
      <!-- end of NESTED -->
    </div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox
          formControlName="registrationCommissions"
          #registrationCommissions
          >Per Registration Commissions</mat-checkbox
        >
      </section>

      <!-- NESTED -->
      <div class="form-element" *ngIf="registrationCommissions.checked">
        <div class="nested-div row">
          Registration Rate
          <mat-form-field class="field">
            <mat-label></mat-label>
            <input
              type="number"
              matInput
              placeholder=""
              formControlName="registrationCommissions1"
            />
          </mat-form-field>
          <section class="checkbox field">
            <mat-checkbox
              formControlName="registrationCommissions2"
              #registrationCommissions2
              >Set Registration Rate per Country</mat-checkbox
            >
          </section>
        </div>
        <!-- FIX: add another condition here with checkboxs and input fields based on array of countries -->

        <!-- NESTED -->
        <div class="form-element" *ngIf="registrationCommissions2.checked">
          <div class="nested-div">
            This should be fixed
            <mat-form-field class="field nested-field">
              <mat-label></mat-label>
              <input
                type="number"
                matInput
                placeholder=""
                formControlName="depositCommissionCPAD1"
              />
            </mat-form-field>
          </div>
        </div>
        <!-- end of NESTED -->
      </div>
      <!-- end of NESTED -->
    </div>

    <div class="form-element">
      <mat-form-field class="field">
        <mat-label matTooltip="Set to 0 to payout all commissions"
          >Minimum Commission Payout</mat-label
        >
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="minCommissionPayout"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Tiered Affiliate Display Options -->
  <div class="box">
    <div class="box-title">Tiered Affiliate Display Options</div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="viewTieredAffCount"
          >Allow Affiliates to View Tiered Affiliate Count</mat-checkbox
        >
      </section>
    </div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox
          formControlName="viewTieredAffDetail"
          matTooltip=" Note: Fields displayed include Affiliate ID, Email, Contact Name, and Web Site URL"
          >Allow Affiliates to View Tiered Affiliate Detail</mat-checkbox
        >
      </section>
    </div>
  </div>

  <!-- Other -->
  <div class="box">
    <div class="box-title">Other</div>

    <div class="form-element">
      <section class="checkbox field">
        <mat-checkbox formControlName="createCustomLinksAffConsole"
          >Display Option to Create Custom Links in Affiliate
          Console</mat-checkbox
        >
      </section>
    </div>
  </div>

  <!-- Button -->
  <div class="btn-box">
    <button type="submit" mat-button class="add-btn">
      Add New Affiliate Type
    </button>
    <!--FIX: checkbox data doesnt display in the array -->
  </div>
</form>
