
<!-- Other -->
<form [formGroup]="affTypeFormOther">


    <div class="form-element">
      <section class="checkbox">
        <mat-checkbox formControlName="createCustomLinksAffConsole"
          >Display Option to Create Custom Links in Affiliate
          Console</mat-checkbox
        >
      </section>
    </div>
    <app-range-form-v2
    [placeholder1]="placeholderParent1"
      [placeholder2]="placeholderParent2"
      [placeholder3]="placeholderParent3"
      [label1]="labelParent1"
      [label2]="labelParent2"
      [label3]="labelParent3"
      [label4]="labelParent4"
      [unit]="unitParent"
      [unitSymbol]="unitSymbolParent"
      ></app-range-form-v2>
</form>