<div>
  <div class="top-area-modal">
    <button class="close-btn" (click)="dialogRef.close()">
      <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
    </button>
    <div><div id="modal-title">Set Rate per Country</div></div>
  </div>
</div>

<form [formGroup]="affTypeFormCountriesModalGroup">
  <div class="search-area">
    <mat-form-field class="" appearance="outline">
      <mat-label class="label">Search</mat-label>
      <input
        formControlName="searchcountries"
        type="text"
        matInput
        placeholder=""
        [(ngModel)]="searchCat"
      />
    </mat-form-field>
  </div>

  <ul class="list-countries">
    <li class="row-countries" *ngFor="let country of countryList | filter : searchCat; let i = index" >
      <span>
        <mat-checkbox #checkbox (change)="changeItem(checkbox.checked, country)" >
          {{country.fieldName}}
        </mat-checkbox>
      </span>
      <span class="country-input-span">
        <mat-form-field class="rate-country-input" color="primary" appearance="outline">
          <mat-label class="label"></mat-label>
          <input
            formControlName="{{country.fieldName}}"
            [(ngModel)]="country.fieldValue"
            class="short-input"
            matInput
            min="0"
            type="number"
            (change)="changeItem(checkbox.checked, country)"
          /><span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
      </span>
    </li>
  </ul>
  <div class="submit-area">
    <button
      type="button"
      mat-button
      class="save-btn-rate-per-country"
      (click)="saveForm()"

      appearance="outline"
    >
      Save
    </button>
  </div>
</form>
