.open-modal-btn {
  background-color: #ffffff00;
  border: 0px;
  color: gray;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.open-modal-btn:hover {
  color: #4CAF50;
  text-decoration: underline;
}

