<div>
  <div class="top-area-modal">
    <button class="close-btn" (click)="dialogRef.close()">
      <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
    </button>
    <div><div id="modal-title">Set Rate per Country</div></div>
  </div>
</div>

<form [formGroup]="ratePerCountryForm">
  <div class="search-area">
    <mat-form-field class="" appearance="outline">
      <mat-label class="label">Search</mat-label>
      <input
        formControlName="searchcountries"
        type="text"
        matInput
        placeholder=""
        [(ngModel)]="searchCat"
      />
    </mat-form-field>
  </div>

  <ul class="list-countries">
    <li class="row-countries" *ngFor="let country of countryList | filter : searchCat; let i = index" >
      <span>
        <mat-checkbox #checkbox (change)="changeItem(checkbox.checked, country)" >
          {{country.name}}
        </mat-checkbox>
      </span>
      <span class="country-input-span">
        <mat-form-field class="rate-country-input" color="primary" appearance="outline">
          <mat-label class="label"></mat-label>
          <input
            formControlName="{{country.name + 'Rate'}}"
            [(ngModel)]="country.rate"
            class="short-input"
            matInput
            type="number"
            (change)="changeItem(checkbox.checked, country)"
          />
        </mat-form-field>
      </span>
    </li>
  </ul>
  <div class="submit-area">
    <button
      type="button"
      mat-button
      class="save-btn-rate-per-country"
      (click)="saveForm()"

      appearance="outline"
    >
      Save
    </button>
  </div>
</form>

<!-- OLD -->
<!-- <div class="form-element">
    <mat-form-field
      class="countries-field"
      appearance="fill"
      matTooltip="Select at least one"
      color="primary"
      appearance="outline"
    >
      
      <mat-label class="label">Countries</mat-label>
      <mat-select multiple formControlName="countriesDropdown" #selectcountries>
        <mat-form-field class="search-field" appearance="outline">
          <mat-label class="label">Search</mat-label>
          <input
            formControlName="searchcountries"
            #searchcountries
            type="text"
            matInput
            placeholder=""
            [(ngModel)]="searchCat"
          />
        </mat-form-field>

        <mat-checkbox
          class="select-all-cb"
          [(ngModel)]="allSelected"
          [ngModelOptions]="{ standalone: true }"
          (change)="toggleAllSelection()"
          (change)="addNewItem()"
          >Select All
        </mat-checkbox>

        
        <div class="options-container">
          
          <div class="checkbox-country">
            <mat-option
              (click)="optionClick()"
              *ngFor="let country of countryList | filter : searchCat"
              [value]="country"
              #countryOption
              class="label country-name-input"
              >{{ country.name }}
            </mat-option>
          </div>

          <div class="input-country">
            <mat-form-field
              *ngFor="let country of countryList | filter : searchCat"
              class="rate-country-input"
              color="primary"
              appearance="outline"
            >
              <mat-label class="label"></mat-label>
              <input
                class="short-input"
                type="number"
                matInput
                placeholder=""
                formControlName="valueRatePerCountry"
                [(ngModel)]="country.rate"
                (change)="addNewItem()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="submit-area">
          <button
            type="button"
            #extraPlanBtn
            [disabled]="!selectcountries.value.length"
            mat-button
            class="save-btn-rate-per-country"
            (click)="dialogRef.close(selectcountries.value)"
            appearance="outline"
          >
            Save
          </button>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div class="submit-area">
  <button
    type="button"
    #extraPlanBtn
    [disabled]="!selectcountries.value.length"
    mat-button
    class="save-btn-rate-per-country"
    (click)="dialogRef.close(selectcountries.value)"
    appearance="outline"
  >
    Save
  </button>
</div> -->
