<!-- Commission Types/Minimum Payout Amount -->

<form [formGroup]="affTypeFormCommissionType">
  <!-- Minimum Commission Payout -->
  <div class="form-element">
    <span class="label">Minimum Commission Payout</span>
    <mat-form-field class="nested-field" color="primary" appearance="outline">
      <mat-label
        class="label"
        matTooltip="Set to 0 to payout all commissions"
      ></mat-label>
      <input
        type="number"
        matInput
        placeholder=""
        formControlName="minCommissionPayout"
      />
    </mat-form-field>
  </div>
  
  <div class="divider-container"><hr class="main-divider" /></div>

  <div class="checkbox-section">
    <app-copy-trader-commission></app-copy-trader-commission>
  </div>

  <div class="divider-container"><hr class="main-divider" /></div>


  <div class="checkbox-section">
    <app-deposit-commission></app-deposit-commission>
  </div>

  <div class="divider-container"><hr class="main-divider" /></div>


  <div class="checkbox-section">
    <app-sale-commission></app-sale-commission>
  </div>

  <div class="divider-container"><hr class="main-divider" /></div>


  <div class="checkbox-section">
    <app-lead-commission></app-lead-commission>
  </div>

  <div class="divider-container"><hr class="main-divider" /></div>


  <div class="checkbox-section">
    <app-reg-commission></app-reg-commission>
  </div>

  
</form>
