<!-- Commission Types/Minimum Payout Amount -->

<form [formGroup]="affTypeFormCommissionType">

  
  <!-- copy trader -->
  
    <app-copy-trader-commission></app-copy-trader-commission>
  <!-- Per Deposit Commissions -->
  <app-deposit-commission></app-deposit-commission>

  <!-- Per Sale Commissions -->
  <app-sale-commission></app-sale-commission>

  <!-- Per Lead Commissions -->
  <app-lead-commission></app-lead-commission>

  <!-- Per Registration Commissions -->
  <app-reg-commission></app-reg-commission>
  

  <!-- Minimum Commission Payout -->
  <div class="form-element">
    <mat-form-field class="" color="primary">
      <mat-label matTooltip="Set to 0 to payout all commissions"
        >Minimum Commission Payout</mat-label
      >
      <input
        type="number"
        matInput
        placeholder=""
        formControlName="minCommissionPayout"
      />
    </mat-form-field>
  </div>
</form>
