<form [formGroup]="affTypeFormCommissionTypeDepositCommission">
  <div class="form-element">
    <section class="checkbox">
      <mat-checkbox
        formControlName="depositCommissionCheckbox"
        #depositCommission
        class="main-checkbox"
        (change)="addNewItem()"
        >Per Deposit Commissions
      </mat-checkbox>
    </section>
    <div class="nested-div">
      <div class="form-element" *ngIf="depositCommission.checked">
        <mat-form-field class="" color="primary" appearance="outline">
          <mat-label class="label"></mat-label>
          <mat-select
            formControlName="commissionDropDown"
            #commissionDropDown
            placeholder="Please choose"
            (selectionChange)="addNewItem()"
          >
            <mat-option
              *ngFor="let commission of commissions"
              [value]="commission.value"
            >
              {{ commission.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- NESTED -->
        <div class="form-element" *ngIf="commissionDropDown.value === 'CPA'">
          <app-range-form-v2
            [placeholder1]="placeholderParent1"
            [placeholder2]="placeholderParent2"
            [placeholder3]="placeholderParent3"
            [label1]="labelParent1"
            [label2]="labelParent2"
            [label3]="labelParent3"
            [label4]="labelParent4"
            [unit]="unitParent"
            [unitSymbol]="unitSymbolParent"
          ></app-range-form-v2>
        </div>
        <!-- end of NESTED -->

        <!-- NESTED -->
        <div class="form-element" *ngIf="commissionDropDown.value === 'CPAD'">
          <div class="divider-container"><hr class="sub-divider" /></div>
          <div class="sub-section">
            <div class="box-title">CPAD</div>
            <div class="container-div">
              <span class="nested-label">From 1 and above FTDs =</span>
              <mat-form-field
                class="nested-field"
                color="primary"
                appearance="outline"
              >
                <mat-label class="label"></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  max="999"
                  formControlName="depositCommissionCPADFTD"
                  (change)="addNewItem()"
                /><span matTextPrefix>$&nbsp;</span>
              </mat-form-field>
            </div>
            <div class="container-div">
              <span class="nested-label">Percent of deposit</span
              ><mat-form-field
                class="nested-field"
                color="primary"
                appearance="outline"
              >
                <mat-label class="label"></mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="depositCommissionCPADPercentDeposit"
                  matTooltip="1 for 100%, 0.2 for 20%"
                  (change)="addNewItem()"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="divider-container"><hr class="sub-divider" /></div>
          <div class="sub-section">
            <div class="box-title">CPA/CPAD Minimum Commissions</div>
            <div class="container-div">
              <!--FIX: in the original form this is disabled ???-->
              <span class="nested-label">Minimum Commission per Trade</span
              ><mat-form-field
                class="nested-field"
                color="primary"
                appearance="outline"
              >
                <mat-label class="label"></mat-label>
                <input
                  type="number"
                  matInput
                  placeholder=""
                  max="999"
                  formControlName="depositCommissionCPADMinComissionPerTrade"
                  (change)="addNewItem()"
                /><span matTextPrefix>$&nbsp;</span>
              </mat-form-field>
            </div>
          </div>

          <div class="divider-container"><hr class="sub-divider" /></div>
          <div class="sub-section">
            <div class="box-title">CPA/CPAD Per Country Extra Plans</div>
            <div class="inner-text">
              Add CPA/CPAD Per Country Extra Plan (Up to 4 Extra Plans Can be
              Added)
            </div>
            
            <!-- when clicked on the inner btn -->
            <div
              class="form-element"
              *ngFor="let extraPlanOption of extraPlanOptions; let i = index"
            >
              <div class="">
                <div class="sub-title">
                  Select {{ contentNewExtraPlan[i].blockNumber }} Extra Plan
                  Countries:
                  <div class="close-area">
                    <button
                      class="close-btn"
                      id="{{ i }}"
                      (click)="onClickCloseIcon($event, i)"
                    >
                      <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                    </button>
                  </div>
                </div>
                <div class="">
                  <app-range-form-v2
                    [placeholder1]="placeholderParent1"
                    [placeholder2]="placeholderParent2"
                    [placeholder3]="placeholderParent3"
                    [label1]="labelParent1"
                    [label2]="labelParent2"
                    [label3]="labelParent3"
                    [label4]="labelParent4"
                    [unit]="unitParent"
                    [unitSymbol]="unitSymbolParent"
                  ></app-range-form-v2>
                </div>
              </div>
            </div>

            <button
          
              type="button"
              #extraPlanBtn
              [disabled]="extraPlanOptions.length === extraPlanOptionsLimit"
              mat-button
              class="add-btn"
              (click)="onClickExtraPlanBtn()"
              appearance="outline"
            >
              Add New Extra Plan
            </button>
            <!-- end of NESTED -->
          </div>
        </div>
        <!-- end of NESTED -->

        <div class="form-element last-one" *ngIf="commissionDropDown.selected">
          <!-- <div class="divider-container"><hr class="sub-divider" /></div> -->
          <section class="checkbox nested-checkbox">
            <mat-checkbox formControlName="openPositionReq" (change)="addNewItem()"
              >Open Position Required</mat-checkbox
            >
          </section>
        </div>
      </div>
    </div>
  </div>
</form>
